.compErrors{
	/*height: 45px;*/
	margin: 10px;
	font-size: 16px;
}
.alert-danger{
	/*height: 45px;*/
}

.navbar{
	height: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/*Form EDIT*/
.labelCliente{
	margin-right: 20px;
	width: 60px;
}
#editar input{
	width: 400px;
}

#editarGuardar{
	width: 55px;
}

#btnGuardarCliente{
	/**/
}

#guardarCliente, #guardarCliente:active, #guardarCliente:hover, #guardarCliente:focus, #guardarCliente:link{
	width: 55px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 5px;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}


#editarCliente{
	margin-top: 5px;
	margin-right: 30px;
	margin-left: 30px;
	cursor: pointer;
}

/*TABLA CSS*/
.encabezado{
	font-weight: bold;
	font-size: 20px;
}

.cuerpo .row{
	height: 35px;
}

.cuerpo .row:hover {
	height: 35px;
	background-color: #a1b2f1;
}

hr{
	width: 95%;
	border-top: 1px solid #a1b2f1;
}

.tabla{
	margin-right: 20px;
	margin-left: 80px;
}

.lista:link, .lista:visited, .lista:hover, .lista:active{
	color: black;
	text-decoration: none;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
